{%- macro url(destination) -%}
{%- if destination|lower|truncate(4, True, '') == 'http' or not destination -%}
{{ destination }}
{%- elif destination|first == '/' -%}
{{ SITEURL + destination }}
{%- else -%}
{{ SITEURL + '/' + destination }}
{%- endif -%}
{%- endmacro -%}
<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--meta name='freelancehunt' content='cd398cd9f82c7ad'>-->
  <meta name="google-site-verification" content="iG5ocQlFr-g7LGDHg4CvgG5LEDCkIe3bC8mGb8ZHT5w" />

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  {% if RFG_FAVICONS %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ SITEURL }}/manifest.json">
    <meta name="theme-color" content="#333333">
  {% endif %}

  <link rel="stylesheet" href="{{ url(BOOTSTRAP_CSS or '/theme/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url(FONTAWESOME_CSS or '/theme/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('default') }}.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/theme.css">
  {% for stylesheet in THEME_CSS_OVERRIDES or () %}
  <link rel="stylesheet" href="{{ url(stylesheet) }}">
  {% endfor %}

  {% include 'include/xml_feeds.html' %}
  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_set.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css"/> 
	  
</head>

<body>
  <header class="header">
    <div class="container">
      {% include 'include/header.html' %}
      <script async src="https://cse.google.com/cse.js?cx=4453c7d3349e5466a">
      </script>
	  
      <!-- <div class="gcse-search"></div> -->
	  
	  <div id ="sidebar">
		<form action="/">
			<div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
			<div style="clear: both;"></div>
		</form>

		<div id="tipue_search_content"></div>
		
		<script>
			$(document).ready(function() {
				 $('#tipue_search_input').tipuesearch({
					  'mode': 'static',
					  'contentLocation': 'tipuesearch_content.json'
				 });
			});
		</script>
	  </div>
	
	<script src="{{ SITEURL }}tipuesearch_content.js"></script>
	  
	  
    </div>
  </header>

  <div class="main">	
    <div class="container">
      <h1>{% block page_header %}{% endblock %}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      {% include 'include/footer.html' %}
    </div>
  </footer>

  {% for script in THEME_JS_OVERRIDES or () %}
  <script type="text/javascript" src="{{ url(script) }}" crossorigin="anonymous"></script>
  {% endfor %}
</body>

</html>